In [1]:
import pandas as pd
import numpy as np

In [2]:
# df1 = pd.read_csv('./dataset/cwurData.csv')
# df2 = pd.read_csv('./dataset/education_expenditure_supplementary_data.csv')
# df3 = pd.read_csv('./dataset/educational_attainment_supplementary_data.csv')
times_data = pd.read_csv('./dataset/timesData.csv')
# school_country = pd.read_csv('./dataset/school_and_country_table.csv')
# shanghai_data = pd.read_csv('./dataset/shanghaiData.csv')

# print(df1.info(), "\n")
# print(df2.info(), "\n")
# print(df3.info(), "\n")
print(times_data.info(), "\n")
# print(school_country.info(), "\n")
# print(shanghai_data.info(), "\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2603 entries, 0 to 2602
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   world_rank              2603 non-null   object
 1   university_name         2603 non-null   object
 2   country                 2603 non-null   object
 3   teaching                2603 non-null   float64
 4   international           2603 non-null   object
 5   research                2603 non-null   float64
 6   citations               2603 non-null   float64
 7   income                  2603 non-null   object
 8   total_score             2603 non-null   object
 9   num_students            2544 non-null   object
 10  student_staff_ratio     2544 non-null   float64
 11  international_students  2536 non-null   object
 12  female_male_ratio       2370 non-null   object
 13  year                    2603 non-null   int64
dtypes: float64(4), int64(1), object(9)
memory usage: 284.8+ KB
None

In [3]:
times_data = times_data[['world_rank', 'year', 'university_name', 'country', 'teaching', 'international',
       'research', 'citations', 'income', 'total_score', 'num_students',
       'student_staff_ratio', 'international_students', 'female_male_ratio']]

Universitas mana yang menempati peringkat 10 teratas dunia?

In [4]:
# times_data["world_rank"] = (
#     times_data["world_rank"]
#     .astype(str)               # ubah dulu ke string
#     .str.extract("(\d+)")      # ambil angka saja
#     .astype("Int64")             # ubah ke float/int
# )

# times_data.sort_values(["year", "world_rank"], ascending=[False, True])

In [5]:
# # Get top 3 universities for each year
# times_data.sort_values(['year', 'world_rank']).groupby('year').head(3)

top10_each_year = times_data.groupby('year').head(10)
top10_each_year

,world_rank,year,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio
0,1,2011,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN
1,2,2011,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67
2,3,2011,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63
3,4,2011,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58
4,5,2011,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55
5,6,2011,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57.0,91.2,"18,812",11.8,34%,46 : 54
6,6,2011,University of Oxford,United Kingdom,88.2,77.2,93.9,95.1,73.5,91.2,"19,919",11.6,34%,46 : 54
7,8,2011,"University of California, Berkeley",United States of America,84.2,39.6,99.3,97.8,-,91.1,"36,186",16.4,15%,50 : 50
8,9,2011,Imperial College London,United Kingdom,89.2,90.0,94.5,88.3,92.9,90.6,"15,060",11.7,51%,37 : 63
9,10,2011,Yale University,United States of America,92.1,59.2,89.7,91.5,-,89.5,"11,751",4.4,20%,50 : 50
200,1,2012,California Institute of Technology,United States of America,95.7,56.0,98.2,99.9,97.0,94.8,"2,243",6.9,27%,33 : 67
201,2,2012,Harvard University,United States of America,95.8,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,25%,NaN
202,2,2012,Stanford University,United States of America,94.8,57.2,98.9,99.8,63.8,93.9,"15,596",7.8,22%,42 : 58
203,4,2012,University of Oxford,United Kingdom,89.5,91.9,96.6,97.9,62.1,93.6,"19,919",11.6,34%,46 : 54
204,5,2012,Princeton University,United States of America,91.5,49.6,99.1,100.0,81.0,92.9,"7,929",8.4,27%,45 : 55
205,6,2012,University of Cambridge,United Kingdom,90.5,85.3,94.2,97.3,55.5,92.4,"18,812",11.8,34%,46 : 54
206,7,2012,Massachusetts Institute of Technology,United States of America,92.7,79.2,87.4,100.0,94.4,92.3,"11,074",9.0,33%,37 : 63
207,8,2012,Imperial College London,United Kingdom,88.8,92.2,88.7,93.9,93.1,90.7,"15,060",11.7,51%,37 : 63
208,9,2012,University of Chicago,United States of America,89.4,58.8,90.8,99.4,-,90.2,"14,221",6.9,21%,42 : 58
209,10,2012,"University of California, Berkeley",United States of America,82.8,50.4,99.4,99.4,62.5,89.8,"36,186",16.4,15%,50 : 50
602,1,2013,California Institute of Technology,United States of America,96.3,59.8,99.4,99.7,95.6,95.5,"2,243",6.9,27%,33 : 67
603,2,2013,Stanford University,United States of America,95.0,56.6,98.8,99.3,62.4,93.7,"15,596",7.8,22%,42 : 58
604,2,2013,University of Oxford,United Kingdom,89.7,88.7,98.1,95.6,79.8,93.7,"19,919",11.6,34%,46 : 54
605,4,2013,Harvard University,United States of America,94.9,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,NaN
606,5,2013,Massachusetts Institute of Technology,United States of America,92.9,81.6,89.2,99.9,92.9,93.1,"11,074",9.0,33%,37 : 63
607,6,2013,Princeton University,United States of America,89.5,54.5,99.4,99.8,79.5,92.7,"7,929",8.4,27%,45 : 55
608,7,2013,University of Cambridge,United Kingdom,91.2,83.6,95.6,96.2,59.1,92.6,"18,812",11.8,34%,46 : 54
609,8,2013,Imperial College London,United Kingdom,88.0,91.4,90.9,93.0,87.5,90.6,"15,060",11.7,51%,37 : 63
610,9,2013,"University of California, Berkeley",United States of America,85.1,49.7,99.3,99.3,65.4,90.5,"36,186",16.4,15%,50 : 50
611,10,2013,University of Chicago,United States of America,89.6,55.3,92.9,98.7,-,90.4,"14,221",6.9,21%,42 : 58
1002,1,2014,California Institute of Technology,United States of America,94.4,65.8,98.2,99.8,91.2,94.9,"2,243",6.9,27%,33 : 67
1003,2,2014,Harvard University,United States of America,95.3,66.2,98.5,99.1,40.6,93.9,"20,152",8.9,25%,NaN
1004,2,2014,University of Oxford,United Kingdom,89.0,90.2,98.5,95.4,90.3,93.9,"19,919",11.6,34%,46 : 54
1005,4,2014,Stanford University,United States of America,94.7,68.0,96.8,99.1,61.3,93.8,"15,596",7.8,22%,42 : 58
1006,5,2014,Massachusetts Institute of Technology,United States of America,92.9,82.0,89.0,100.0,94.3,93.0,"11,074",9.0,33%,37 : 63
1007,6,2014,Princeton University,United States of America,89.9,59.6,97.6,99.7,80.5,92.7,"7,929",8.4,27%,45 : 55
1008,7,2014,University of Cambridge,United Kingdom,90.6,86.7,95.3,95.7,52.8,92.3,"18,812",11.8,34%,46 : 54
1009,8,2014,"University of California, Berkeley",United States of America,83.2,57.3,97.5,99.3,59.5,89.8,"36,186",16.4,15%,50 : 50
1010,9,2014,University of Chicago,United States of America,85.6,58.6,88.2,98.0,-,87.8,"14,221",6.9,21%,42 : 58
1011,10,2014,Imperial College London,United Kingdom,84.5,91.8,88.1,90.0,72.3,87.5,"15,060",11.7,51%,37 : 63
1402,1,2015,California Institute of Technology,United States of America,92.2,67.0,98.1,99.7,89.1,94.3,"2,243",6.9,27%,33 : 67
1403,2,2015,Harvard University,United States of America,92.9,67.6,98.6,98.9,44.0,93.3,"20,152",8.9,25%,NaN
1404,3,2015,University of Oxford,United Kingdom,88.6,90.7,97.7,95.5,72.9,93.2,"19,919",11.6,34%,46 : 54
1405,4,2015,Stanford University,United States of America,91.5,69.0,96.7,99.1,63.1,92.9,"15,596",7.8,22%,42 : 58
1406,5,2015,University of Cambridge,United Kingdom,89.7,87.8,95.6,95.2,51.1,92.0,"18,812",11.8,34%,46 : 54
1407,6,2015,Massachusetts Institute of Technology,United States of America,89.1,84.3,88.2,100.0,95.7,91.9,"11,074",9.0,33%,37 : 63
1408,7,2015,Princeton University,United States of America,86.6,61.2,94.7,99.6,82.7,90.9,"7,929",8.4,27%,45 : 55
1409,8,2015,"University of California, Berkeley",United States of America,84.2,58.5,96.7,99.1,44.8,89.5,"36,186",16.4,15%,50 : 50
1410,9,2015,Imperial College London,United Kingdom,84.6,92.7,88.3,89.4,72.7,87.5,"15,060",11.7,51%,37 : 63
1411,9,2015,Yale University,United States of America,88.5,59.8,90.8,94.0,42.0,87.5,"11,751",4.4,20%,50 : 50
1803,1,2016,California Institute of Technology,United States of America,95.6,64.0,97.6,99.8,97.8,95.2,"2,243",6.9,27%,33 : 67
1804,2,2016,University of Oxford,United Kingdom,86.5,94.4,98.9,98.8,73.1,94.2,"19,919",11.6,34%,46 : 54
1805,3,2016,Stanford University,United States of America,92.5,76.3,96.2,99.9,63.3,93.9,"15,596",7.8,22%,42 : 58
1806,4,2016,University of Cambridge,United Kingdom,88.2,91.5,96.7,97.0,55.0,92.8,"18,812",11.8,34%,46 : 54
1807,5,2016,Massachusetts Institute of Technology,United States of America,89.4,84.0,88.6,99.7,95.4,92.0,"11,074",9.0,33%,37 : 63
1808,6,2016,Harvard University,United States of America,83.6,77.2,99.0,99.8,45.2,91.6,"20,152",8.9,25%,NaN
1809,7,2016,Princeton University,United States of America,85.1,78.5,91.9,99.3,52.1,90.1,"7,929",8.4,27%,45 : 55
1810,8,2016,Imperial College London,United Kingdom,83.3,96.0,88.5,96.7,53.7,89.1,"15,060",11.7,51%,37 : 63
1811,9,2016,ETH Zurich – Swiss Federal Institute of Techno...,Switzerland,77.0,97.9,95.0,91.1,80.0,88.3,"18,178",14.7,37%,31 : 69
1812,10,2016,University of Chicago,United States of America,85.7,65.0,88.9,99.2,36.6,87.9,"14,221",6.9,21%,42 : 58

Negara mana yang memiliki jumlah universitas terbanyak yang masuk dalam ranking

In [6]:

top10_each_year.groupby(['year', 'country']).size().unstack(fill_value=0)

country  Switzerland  United Kingdom  United States of America
year
2011               0               3                         7
2012               0               3                         7
2013               0               3                         7
2014               0               3                         7
2015               0               3                         7
2016               1               3                         6

Berapa rata-rata skor total (overall score) universitas di setiap negara

In [8]:
score = times_data.copy()
score["total_score"] = score.total_score.replace("-", np.nan).astype("float")
avg_score = score.groupby(["year", "country"]).total_score.mean().fillna(0)

def fill_score(row):
    if pd.isna(row["total_score"]):
        try:
            return avg_score.loc[(row["year"], row["country"])]
        except KeyError:
            return np.nan
    return row["total_score"]

score["total_score"] = score.apply(fill_score, axis=1)
score.groupby(['country', 'year']).total_score.mean().unstack(fill_value=0).sort_values(by=2016, ascending=False)

# avg_score.unstack(fill_value=0)
# score["total_score"] = score.total_score.fillna()

# score["total_score"] = score.total_score.astype("float")

# score.groupby("year").total_score.mean()
# times_data["total_score"] = times_data["total_score"].fillna()
# times_data["total_score"] = times_data["total_score"].astype("float")
# times_data["total_score"].value_counts(dropna=False).sort_index(ascending=False)

year,2011,2012,2013,2014,2015,2016
country,,,,,,
Singapore,60.950000,57.950000,68.450000,64.800000,67.750000,73.700000
China,58.583333,55.933333,68.900000,64.250000,58.833333,71.000000
United States of America,66.426389,63.598667,65.618421,61.692208,62.863514,67.431746
Japan,60.460000,58.740000,60.780000,57.580000,57.400000,65.500000
Canada,59.800000,59.366667,63.050000,60.185714,59.537500,64.657143
...,...,...,...,...,...,...
Lithuania,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Malaysia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Morocco,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Unted Kingdom,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000